flows/Flow 1.json
[
  {
    "id": "f6f2187d.f17ca8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d2c22cda99bdf0c1",
    "type": "http in",
    "z": "f6f2187d.f17ca8",
    "name": "Leave request flow",
    "url": "/leave-request",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 110,
    "y": 300,
    "wires": [
      [
        "e529421b3ab913f2",
        "6544eaa0b6167aee"
      ]
    ]
  },
  {
    "id": "2cff27e9f44a34bf",
    "type": "switch",
    "z": "f6f2187d.f17ca8",
    "name": "Auto approval?",
    "property": "payload.leaveCount",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lte",
        "v": "2",
        "vt": "str"
      },
      {
        "t": "gt",
        "v": "2",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 800,
    "y": 540,
    "wires": [
      [
        "3dc23c70a4560768"
      ],
      [
        "9c7ee29acfa59ad0"
      ]
    ]
  },
  {
    "id": "447f33eada8bfe09",
    "type": "http request",
    "z": "f6f2187d.f17ca8",
    "name": "Auto approval request",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "localhost/LeaveAPI/api/leave/status/update",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1280,
    "y": 400,
    "wires": [
      [
        "c5b045f6939a3499"
      ]
    ]
  },
  {
    "id": "018a5da9d97ef674",
    "type": "http request",
    "z": "f6f2187d.f17ca8",
    "name": "Approval task to manager",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "localhost/LeaveAPI/api/leave/manager/tasks/add",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1590,
    "y": 500,
    "wires": [
      [
        "85cb50bb9c8defcb",
        "d48ea7a922ed2a78"
      ]
    ]
  },
  {
    "id": "3dc23c70a4560768",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Set status APPROVED",
    "func": "msg.payload = {...msg.payload, status: \"APPROVED\" }\n// msg.headers = {...msg.req.headers,  ...msg.headers}\nmsg.headers = {...msg.req.headers}\ndelete msg.headers['content-length']\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1020,
    "y": 500,
    "wires": [
      [
        "447f33eada8bfe09"
      ]
    ]
  },
  {
    "id": "c5b045f6939a3499",
    "type": "http response",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1490,
    "y": 400,
    "wires": []
  },
  {
    "id": "e529421b3ab913f2",
    "type": "switch",
    "z": "f6f2187d.f17ca8",
    "name": "Request type?",
    "property": "payload.type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "MANAGER_ACTION",
        "vt": "str"
      },
      {
        "t": "lte",
        "v": "LEAVE_REQUEST",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 2,
    "x": 340,
    "y": 300,
    "wires": [
      [
        "f2437ccb9316c9f7"
      ],
      [
        "56eee736233095f8"
      ]
    ]
  },
  {
    "id": "85cb50bb9c8defcb",
    "type": "http response",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1810,
    "y": 460,
    "wires": []
  },
  {
    "id": "85c822c8d93df813",
    "type": "comment",
    "z": "f6f2187d.f17ca8",
    "name": "Leave request Init",
    "info": "",
    "x": 270,
    "y": 440,
    "wires": []
  },
  {
    "id": "86d81d7f9e8c2727",
    "type": "http request",
    "z": "f6f2187d.f17ca8",
    "name": "Update manager action",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "localhost/LeaveAPI/api/leave/status/update",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "basic",
    "senderr": false,
    "headers": [],
    "x": 630,
    "y": 200,
    "wires": [
      [
        "b4c88b05b0e1e46a",
        "6837913f99da9e90"
      ]
    ]
  },
  {
    "id": "b4c88b05b0e1e46a",
    "type": "http response",
    "z": "f6f2187d.f17ca8",
    "name": "Response",
    "statusCode": "",
    "headers": {},
    "x": 820,
    "y": 280,
    "wires": []
  },
  {
    "id": "7e7b0a1c3bb5bec0",
    "type": "http request",
    "z": "f6f2187d.f17ca8",
    "name": "Submit leave request",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "localhost/LeaveAPI/api/leave/create",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 620,
    "y": 420,
    "wires": [
      [
        "4d99f87317f5dfbe",
        "9b9de149872a70dd"
      ]
    ]
  },
  {
    "id": "f366f60992c482ac",
    "type": "comment",
    "z": "f6f2187d.f17ca8",
    "name": "Leave approval",
    "info": "",
    "x": 280,
    "y": 240,
    "wires": []
  },
  {
    "id": "9c7ee29acfa59ad0",
    "type": "switch",
    "z": "f6f2187d.f17ca8",
    "name": "Manager or Manager's manager?",
    "property": "payload.leaveCount",
    "propertyType": "msg",
    "rules": [
      {
        "t": "lte",
        "v": "7",
        "vt": "str"
      },
      {
        "t": "gt",
        "v": "7",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1060,
    "y": 560,
    "wires": [
      [
        "02439ab9ff224f28"
      ],
      [
        "fd48ce6d49b5fcf0"
      ]
    ]
  },
  {
    "id": "cbb6aeca036d439a",
    "type": "http request",
    "z": "f6f2187d.f17ca8",
    "name": "Approval task to manager's manager",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "localhost/LeaveAPI/api/leave/manager/tasks/add",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1690,
    "y": 660,
    "wires": [
      [
        "925ba9a06818e5ac",
        "9c819770b27785cd"
      ]
    ]
  },
  {
    "id": "925ba9a06818e5ac",
    "type": "http response",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1910,
    "y": 620,
    "wires": []
  },
  {
    "id": "fd48ce6d49b5fcf0",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Set Approval Level to manager's manager",
    "func": "msg.payload = {...msg.payload, approvalLevel: 2}\n// msg.headers = {...msg.req.headers, ...msg.headers}\nmsg.headers = {...msg.req.headers}\ndelete msg.headers['content-length']\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1340,
    "y": 660,
    "wires": [
      [
        "cbb6aeca036d439a"
      ]
    ]
  },
  {
    "id": "02439ab9ff224f28",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Set Approval Level to manager",
    "func": "msg.payload = {...msg.payload, approvalLevel: 1}\n// msg.headers = {...msg.req.headers, ...msg.headers}\nmsg.headers = {...msg.req.headers}\ndelete msg.headers['content-length']\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1310,
    "y": 500,
    "wires": [
      [
        "018a5da9d97ef674",
        "5c9b8115e98e54fd"
      ]
    ]
  },
  {
    "id": "ae347ba1d7d4c41f",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 60,
    "wires": []
  },
  {
    "id": "1f9b8303b9aff027",
    "type": "delay",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 720,
    "y": 80,
    "wires": [
      [
        "ae347ba1d7d4c41f"
      ]
    ]
  },
  {
    "id": "4d99f87317f5dfbe",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Add request to Context",
    "func": "msg.leaveRequest = {...msg.payload}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 740,
    "y": 480,
    "wires": [
      [
        "2cff27e9f44a34bf"
      ]
    ]
  },
  {
    "id": "6544eaa0b6167aee",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "debug 9",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 150,
    "y": 380,
    "wires": []
  },
  {
    "id": "9b9de149872a70dd",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "debug 11",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 400,
    "wires": []
  },
  {
    "id": "f2437ccb9316c9f7",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Add headers",
    "func": "msg.headers = {...msg.req.headers}\ndelete msg.headers['content-length']\nreturn msg;",
    "outputs": 1,
    "timeout": "0",
    "noerr": 0,
    "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode.error(\"On Start\");",
    "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nnode.error(\"On Stop\")",
    "libs": [],
    "x": 470,
    "y": 240,
    "wires": [
      [
        "86d81d7f9e8c2727"
      ]
    ]
  },
  {
    "id": "9109b1dd735c7685",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "debug 12",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2040,
    "y": 540,
    "wires": []
  },
  {
    "id": "d48ea7a922ed2a78",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Add task to context",
    "func": "msg.managerTask = {...msg.payload}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1850,
    "y": 540,
    "wires": [
      [
        "9109b1dd735c7685"
      ]
    ]
  },
  {
    "id": "9c819770b27785cd",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Add task to context",
    "func": "msg.managerTask = {...msg.payload}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1950,
    "y": 700,
    "wires": [
      [
        "c6a420d32e792f09"
      ]
    ]
  },
  {
    "id": "c6a420d32e792f09",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "debug 13",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2140,
    "y": 700,
    "wires": []
  },
  {
    "id": "5c9b8115e98e54fd",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "debug 14",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1540,
    "y": 560,
    "wires": []
  },
  {
    "id": "13dd294b64abc33d",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "debug 10",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 320,
    "wires": []
  },
  {
    "id": "56eee736233095f8",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Add headers",
    "func": "msg.headers = {...msg.req.headers}\ndelete msg.headers['content-length']\nreturn [msg.headers, msg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 360,
    "wires": [
      [
        "13dd294b64abc33d"
      ],
      [
        "7e7b0a1c3bb5bec0"
      ]
    ]
  },
  {
    "id": "6837913f99da9e90",
    "type": "link out",
    "z": "f6f2187d.f17ca8",
    "name": "link out 1",
    "mode": "link",
    "links": [
      "adfd63db9ca79b68"
    ],
    "x": 825,
    "y": 220,
    "wires": []
  },
  {
    "id": "adfd63db9ca79b68",
    "type": "link in",
    "z": "f6f2187d.f17ca8",
    "name": "link in 1",
    "links": [
      "6837913f99da9e90"
    ],
    "x": 585,
    "y": 120,
    "wires": [
      [
        "1f9b8303b9aff027"
      ]
    ]
  },
  {
    "id": "463ded47e6e6be5e",
    "type": "http in",
    "z": "f6f2187d.f17ca8",
    "name": "Test endpoint",
    "url": "/test",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 430,
    "y": 120,
    "wires": [
      [
        "1f9b8303b9aff027"
      ]
    ]
  }
]