flows/Flow 4.json
[
  {
    "id": "cd107f4b57e87df1",
    "type": "tab",
    "label": "Flow 4",
    "disabled": true,
    "info": "",
    "env": []
  },
  {
    "id": "42c97a381325147b",
    "type": "inject",
    "z": "cd107f4b57e87df1",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 380,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "f2593b7bce2ad3bc",
    "type": "inject",
    "z": "cd107f4b57e87df1",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 250,
    "y": 200,
    "wires": [
      [
        "e06131c894c37634"
      ]
    ]
  },
  {
    "id": "e06131c894c37634",
    "type": "debug",
    "z": "cd107f4b57e87df1",
    "name": "debug 16",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 460,
    "y": 200,
    "wires": []
  }
]